// main: ../main.scss
.portfolio {
  padding: 90px 0 80px;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 30px auto 0;
    padding: 0;
  }
  &__item {
    display: block;
    position: relative;
    margin: 20px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(72, 191, 114, 0);
    }
    &--small {
      width: calc(450 / 1180 * 100% - 20px);
    }
    &--wide {
      width: calc(650 / 1180 * 100% - 20px);
    }
  }
  &__img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  &:hover {
    opacity: 0.2;
  }
}
